# Application
NODE_ENV=production
VUE_APP_TITLE=Entity Developer Dashboard				
VUE_APP_DESC=SSI Playground to learn and understand SSI
VUE_APP_VERSION=v1.2.0

# Deverloper dashboard backend service
VUE_APP_STUDIO_SERVER_BASE_URL=https://stage.hypermine.in/developer/dashboard
VUE_APP_STUDIO_SERVER_BASE_WS=wss://stage.hypermine.in/developer/dashboardws/


# Hypersign ID network 
VUE_APP_NODE_SERVER_BASE_URL=https://rpc.prajna.hypersign.id/
VUE_APP_NODE_SERVER_BASE_URL_REST=https://api.prajna.hypersign.id/
VUE_APP_EXPLORER_BASE_URL=https://explorer.hypersign.id/

# Wallet 
VUE_APP_WEB_WALLET_ADDRESS=https://wallet-prajna.hypersign.id


