
#app {
    text-align: left;
    font-size: 13px;
    font-style: normal;
    text-decoration-skip-ink: auto;
    color: #636363;
    font-family: Roboto, sans-serif;
}

.logo-container{
    border: 1px solid rgba(48, 60, 48, 0.16);
    border-radius: 51px;
    overflow: hidden;
}

.nav-icon {
    color: #707070;
    font-size: 24px; 
    height: 24px; 
    width: 24px;
}




.event-card {
    /* border: 0; */
    border-radius: 10px;
    -webkit-box-shadow: 2px 0 10px rgb(0 0 0 / 10%);
    box-shadow: 2px 0 10px rgb(0 0 0 / 10%);
    width: 100%;
    font-size: smaller;
}

.tile-number {
    color: rgb(46, 46, 46);
    font-size: xxx-large;
}

.card-head {
    font-size: 1.1em;
    border-radius: 0px 0px 0px 5px;
    color: #212529;
    background:#905ab029;
    border:0;
}
.form-control:focus {
    border-color:rgba(46, 102, 93, 1) !important;
}
.custom-select:focus {
    border-color: rgba(46, 102, 93, 1) !important;
}
.home{
    margin-left: auto;
    margin-right: auto;
    /* width: 100em; */
}
.homeShift{
    margin-left: auto;
    margin-right: auto;
    /* width: 85em; */
    }
body{
    color: #636363;
    
}

a {
    color: #636363;
    text-decoration-line: underline;
}


a:hover {
    color: #212529 ;
    text-decoration: underline ;
}
.bg-gradient-primary {
    /* background-image: linear-gradient(310deg, #5e72e4, #825ee4); */
}
:root {
    --primary: #905ab0 !important;
    --button-bg-color: #905ab0 !important;
}
.btn-outline-primary {
    color: rgba(76, 105, 100, 1);
    border-color: rgba(76, 105, 100, 1);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: rgba(76, 105, 100, 1);
    border-color: rgba(76, 105, 100, 1);
}

.center {
    /* d-flex align-items-center justify-content-center */
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;

}

a {
    text-decoration: none;
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

.mandatory{
    color: indianred
}


.btn{
    /* border-radius: 20px; */
    /* background-color: #a55be6; */
    /* color: white; */
    /* border: none */
}

.greyFont {
    color: grey
}

.sticky-header {
    position: sticky;
    top: 0;
  }

.serviceCard{
    border-radius: 8px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    max-height: 80vh;
    overflow-y: auto;
    }
    
.serviceCard.v-card,
.serviceCard.v-sheet {
        border-radius: 8px !important;
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
    }
.dropDownPopup {
    box-shadow: var(--dropdown-menu-elevation, 0 1px 10px 0 rgba(0, 0, 0, .25));
    border-radius: 8px;
    border: 0px solid grey;
}

